<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMDQ5N2JjNTNmY2I3OTQwZGRjZTM5ZGM1OGJkYTE2MCIsInN1YiI6IjY1ZDA5MjM2YzhmM2M0MDE3Y2VlY2JhOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.IfgQ1kTkgNmNKkoUAJs-3ogBGajrNrgHL6q2o7rAqgY</string>
	<key>baseUrl</key>
	<string>https://api.themoviedb.org/3</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
